*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	-webkit-transition: .3s ease all ;
	transition: .3s;
}
body.dark{
	background: rgb(26, 26, 26);
	transition: .5s;
/*--------------------primera seccion oscura---------------------*/
}
body.dark .navigation-2{
	background: rgb(26, 26, 26);
}
body.dark .uno{
	background: rgb(46, 46, 46);
}
/*--------------------segunda seccion oscura---------------------*/
body.dark .title-nav-3{
	color: #fff;
}
body.dark .sec{
	background: rgb(26, 26, 26);
}
body.dark .uno-det{
	background: rgb(46, 46, 46);
}
body.dark p{
	color: #fff;
}
body.dark .p-icon{
	color: #fff;
}
body.dark .title-cash{
	color: #fff;
}
body.dark .enlace{
	color: #fff;
}
body.dark .popup{
	background: rgb(46, 46, 46);
	color: #fff;
}

.navigation{
	width: 100%;
	background: #1D4056;
	color: #fff;
	text-align: center;
	padding: 100px;
}
.logo{
	position: absolute;
	left: 40px;
	top: 20px;
	font-size: 1.5em;
}
.boton{
	position: absolute;
	top: 20px;
	right: -1100%;
	background: #FADA43;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	display: flex;
	outline: none;
}
.luna, .sol{
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	background: none;
	color: #fff;
}
.boton::after{
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: unset;
	border-radius: 100px;
	transition: 0.4s ease all;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.8)
}
.boton.active{
	background: rgb(46, 46, 46);
	color: #fff;
	transition: 0.5s;
}
.boton.active::after{
	right: 0;
	left: unset;
	transition: 0.5s;
}
.title-logo{
	font-weight: 400;
	cursor: default;
}
.span{
	color: #F03737;
	font-weight: 600;
}
.title-nav{
	font-size: 3em;
}
.paragraph{
	text-align: center;
	width: 85%;
	margin: auto;
}
.but-1, .but-2{
	padding: 15px 40px;
	border: none;
	outline: none;
	border-radius: 3px;
	color: #fff;
	background: #b44242;
	cursor: pointer;
	margin-left: 15px;
	margin-top: 10px;
	transition: 0.5s ease-in-out;
}
.but-1:hover, .but-2:hover{
	padding: 1.4% 6%;
}

/*-------------------primera seccion terminada--------------------*/

.navigation-2{
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
	padding: 30px;
}
.uno{
	background: #dedede;
	padding: 20px 10px;
}
.image{
	width: 350px;
	height: 350px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.image:hover{
	opacity: .7;
	filter: blur(1px);
	transform: translateY(-15px);
}
.but-3{
	padding: 15px 30px;
	border: none;
	outline: none;
	color: #fff;
	background: #3860ec;
	border-radius: 3px;
	cursor: pointer;
}
.but-4{
	padding: 15px 30px;
	border: none;
	outline: none;
	color: #fff;
	background: #b44242;
	border-radius: 3px;
	cursor: pointer;
}
/*---------------------segunda seccion terminada-------------------*/

.navigation-3{
	padding: 25px;
	width: 100%;
	text-align: center;
}
.sec{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	background: #fff;
	padding: 15px;
	margin: 10px;
}
.uno-det{
	background: #D5D7D7;
	padding: 20px 25px;
	border-radius: 5px;
}
.i-uno, .i-dos, .i-tres{
	font-size: 3em;
}
.i-uno{
	color: #36B545;
}
.i-dos{
	color: #C92020;
}
.i-tres{
	color: #EFC954;
}
.title-nav-3{
	font-size: 2em;
}
hr{
	border: 2px solid #28A586;
}
/*---------------final de la tercera seccion-----------------*/

.navigation-4{
	padding: 30px 70px;
}
.paragraph-2{
	width: 60%;
	margin-top: 20px;
	text-align: justify;
}
.title-cash{
	font-size: 2.2em;
}
.cont{
	display: flex;
}
.foot{
	background: #000;
	color: #fff;
	margin: 60px 0 0 0;
	padding: 20px 0 0 0;
	text-align: center;
}
.title-footer{
	font-size: 2em;
}
.paragraph-3{
	font-weight: 300;
}
.icons-footer{
	font-size: 1.3em;
}
.y:hover{
	color: #DD0A0A;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.f:hover{
	color: #1D5EAF;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.i:hover{
	color: #7421da;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.t:hover{
	color: #3291fb;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.g:hover{
	color: #EB2C00;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.page-footer{
	background: #222;
	font-size: 1.3em;
}
.bg{
	width: 100%;
	background: rgba(0,0,0,.3);
	padding: 40px;
	position: fixed;
	bottom: 0;
	visibility: hidden;
}
.bg.active{
	visibility: visible;
}
.popup{
	width: 90%;
	background: #fff;
	display: flex;
	margin: auto;
	text-align: center;
	padding: 15px 30px;
	border-radius: 6px;
	box-shadow: 6px 6px 10px rgba(0,0,0,.4);
}
.boton-popup{
	padding: 15px 50px;
	border: none;
	outline: none;
	color: #fff;
	background: #3291fb;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
}
.image-popup{
	

}
.exit{
	position: absolute;
	right: 120px;
}